<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo>
    <plugin filename="libgazebo_ros_joint_state_publisher.so" name="box_bot_joint_state">
      <ros>
        <remapping>~/out:=joint_states</remapping>
      </ros>
      <update_rate>30</update_rate>
      <joint_name>drive_wheel_tire_to_axel_l</joint_name>
      <joint_name>drive_wheel_tire_to_axel_r</joint_name>
      <joint_name>front_yaw_joint</joint_name>
      <joint_name>front_roll_joint</joint_name>
      <joint_name>front_pitch_joint</joint_name>
    </plugin>
  </gazebo>
  <gazebo>
    <plugin filename="libgazebo_ros_diff_drive.so" name="differential_drive_controller">
      <!-- wheels -->
      <left_joint>drive_wheel_tire_to_axel_l</left_joint>
      <right_joint>drive_wheel_tire_to_axel_r</right_joint>
      <!-- kinematics -->
      <wheel_separation>0.1</wheel_separation>
      <wheel_diameter>0.07</wheel_diameter>
      <!-- limits -->
      <max_wheel_torque>1.0</max_wheel_torque>
      <max_wheel_acceleration>2.0</max_wheel_acceleration>
      <!-- output -->
      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>
      <odometry_frame>odom</odometry_frame>
      <robot_base_frame>base_footprint</robot_base_frame>
    </plugin>
  </gazebo>
  </robot>