<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Laser Position Control-->
  <link name="laser_scan_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.02 0.02 0.02"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.0204"/>
      <geometry>
        <box size="0.02 0.02 0.02"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <origin rpy="0 0 0" xyz="0 0 0.0204"/>
      <inertia ixx="6.066578520833334e-06" ixy="0" ixz="0" iyy="6.072950163333333e-06" iyz="0" izz="9.365128684166666e-06"/>
    </inertial>
  </link>
 
  <link name="laser_scan_model_link">
    <inertial>
      <mass value="0.050"/>
      <inertia ixx="5.493716666666667e-05" ixy="0" ixz="0" iyy="5.493716666666667e-05" iyz="0" izz="0.00010692900000000002"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://ros2_urdf_project_gazebo/meshes/sensors/lds_top.dae" scale="0.001 0.001 0.001"/>
      </geometry>
     </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.0204"/>
      <geometry>
        <cylinder length="0.0188" radius="0.0654"/>
      </geometry>
    </collision>
  </link>
</robot>