<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="drive_wheel_axel_macro" params="name">
  <link name="${name}">

    <!-- Inertial Block -->
    <inertial>
      <mass value="0.010"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <!-- Center of mass assumed at the origin -->
      <inertia ixx="3.892583333333333e-07" ixy="0" ixz="0" iyy="3.892583333333333e-07" iyz="0" izz="6.328125e-07"/>
    </inertial>
    <!-- Collision Block -->
    <collision>
      <geometry>
        <cylinder length="0.00935" radius="0.01125"/>
        <!-- Radius and Height (length) of the cylinder -->
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <!-- Assuming the collision cylinder is aligned with the link's frame -->
    </collision>
    <visual>
      <geometry>
        <cylinder length="0.00935" radius="0.01125"/>
      </geometry>
      <material name="wheel_axel"/>
    </visual>
  </link>
 </xacro:macro>

  <xacro:macro name="drive_wheel_macro" params="name">
  <link name="${name}">
    <inertial>
      <mass value="0.010"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="2.986533333333334e-06" ixy="0" ixz="0" iyy="2.986533333333334e-06" iyz="0" izz="5.445e-06"/>
    </inertial>
    <!-- Collision Properties -->
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.0178" radius="0.033"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <cylinder length="0.0178" radius="0.033"/>
      </geometry>
      <material name="wheel"/>
    </visual>
  </link>
 </xacro:macro>

  <!-- Castor wheel -->
  <link name="drive_castor_wheel_support">
    <inertial>
      <mass value="0.010"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="3.233333333333333e-07" ixy="0" ixz="0" iyy="8.033333333333334e-07" iyz="0" izz="1.02e-06"/>
    </inertial>
    <!-- Collision Properties -->
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.030 0.018 0.008"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <box size="0.030 0.018 0.008"/>
      </geometry>
      <material name="castor_wheel_support"/>
    </visual>
  </link>

  <link name="front_roll_link">
    <collision>
      <origin rpy="0 1.5707 1.5707" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.001" radius="0.0045000000000000005"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 1.5707 1.5707" xyz="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="5.145833333333334e-09" ixy="0" ixz="0" iyy="5.145833333333334e-09" iyz="0" izz="1.0125000000000003e-08"/>
    </inertial>
    <visual>
      <origin rpy="0 1.5707 1.5707" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.005" radius="0.005"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>

  <link name="front_pitch_link">
    <collision>
      <origin rpy="0 1.5707 1.5707" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.010"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 1.5707 1.5707" xyz="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="4e-08" ixy="0" ixz="0" iyy="4e-08" iyz="0" izz="4e-08"/>
    </inertial>
    <visual>
      <origin rpy="0 1.5707 1.5707" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
      <material name="green_dark"/>
    </visual>
  </link>

  <link name="front_yaw_link">
    <collision>
      <origin rpy="0 1.5707 1.5707" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.001" radius="0.0045000000000000005"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 1.5707 1.5707" xyz="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="5.145833333333334e-09" ixy="0" ixz="0" iyy="5.145833333333334e-09" iyz="0" izz="1.0125000000000003e-08"/>
    </inertial>
    <visual>
      <origin rpy="0 1.5707 1.5707" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.001" radius="0.005"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>

</robot>