<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- chassis 137.5mm x 137.5mm x 9mm -->
  <link name="chassis1">
    <inertial>
        <mass value="0.035"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="5.537947916666668e-05" ixy="0" ixz="0" iyy="5.537947916666668e-05" iyz="0" izz="0.00011028645833333336"/>
    </inertial>

    <collision>
      <geometry>
        <box size="0.1375 0.1375 0.009"/>
      </geometry>
    </collision>

    <visual>
      <geometry>
        <box size="0.1375 0.1375 0.009"/>
      </geometry>
      <material name="box_bot_blue"/>
    </visual>
  </link>
  <joint name="chasis_to_chasis_1" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.0405" />
    <parent link="chassis" />
    <child link="chassis1" />
  </joint>

<gazebo reference="spacer_chasis_2_01">
    <material>Gazebo/Orange</material>
</gazebo>   

<gazebo reference="spacer_chasis_2_02">
    <material>Gazebo/Orange</material>
</gazebo>   

<gazebo reference="spacer_chasis_2_03">
    <material>Gazebo/Orange</material>
</gazebo>   

<gazebo reference="spacer_chasis_2_04">
    <material>Gazebo/Orange</material>
</gazebo>   

<gazebo reference="control_board">
    <material>Gazebo/Purple</material>
</gazebo>   



  <link name="spacer_chasis_2_01">
  <inertial>
    <mass value="0.009"/>
    <origin xyz="0 0 0" rpy="0 0 0"/> <!-- Center of mass assumed at the origin -->
    <inertia ixx="1.5749999999999997e-06" ixy="0" ixz="0"
             iyy="1.5749999999999997e-06" iyz="0"
             izz="1.125e-07"/>
  </inertial>

  <collision>
    <geometry>
      <cylinder radius="0.005" length="0.045"/> 
    </geometry>
    <origin xyz="0 0 0" rpy="0 0 0"/> <!-- Assuming the collision cylinder is aligned with the link's frame -->
  </collision>  
    <visual>
      <geometry>
        <cylinder radius="0.005" length="0.045"/>
      </geometry>
      <material name="spacer_35mm"/>
    </visual>
  </link>

<joint name="chasis_spacer_chasis_2_01" type="fixed">
  <origin rpy="0 0 0" xyz="0.06375 -0.010875 0.01825" />
  <parent link="chassis1" />
  <child link="spacer_chasis_2_01" />
</joint>

  <link name="spacer_chasis_2_02">
  <inertial>
    <mass value="0.009"/>
    <origin xyz="0 0 0" rpy="0 0 0"/> <!-- Center of mass assumed at the origin -->
    <inertia ixx="1.5749999999999997e-06" ixy="0" ixz="0"
             iyy="1.5749999999999997e-06" iyz="0"
             izz="1.125e-07"/>
  </inertial>

  <!-- Collision Block -->
  <collision>
    <geometry>
      <cylinder radius="0.005" length="0.045"/> <!-- Radius and Height (length) of the cylinder -->
    </geometry>
    <origin xyz="0 0 0" rpy="0 0 0"/> <!-- Assuming the collision cylinder is aligned with the link's frame -->
  </collision>  
    <visual>
      <geometry>
        <cylinder radius="0.005" length="0.045"/>
      </geometry>
      <material name="spacer_35mm"/>
    </visual>
  </link>

<joint name="chasis_spacer_chasis_2_02" type="fixed">
  <origin rpy="0 0 0" xyz="0.06375 0.010875 0.01825" />
  <parent link="chassis1" />
  <child link="spacer_chasis_2_02" />
</joint>

  <link name="spacer_chasis_2_03">
  <inertial>
    <mass value="0.009"/>
    <origin xyz="0 0 0" rpy="0 0 0"/> <!-- Center of mass assumed at the origin -->
    <inertia ixx="1.5749999999999997e-06" ixy="0" ixz="0"
             iyy="1.5749999999999997e-06" iyz="0"
             izz="1.125e-07"/>
  </inertial>

  <!-- Collision Block -->
  <collision>
    <geometry>
      <cylinder radius="0.005" length="0.045"/> <!-- Radius and Height (length) of the cylinder -->
    </geometry>
    <origin xyz="0 0 0" rpy="0 0 0"/> <!-- Assuming the collision cylinder is aligned with the link's frame -->
  </collision>  
    <visual>
      <geometry>
        <cylinder radius="0.005" length="0.045"/>
      </geometry>
      <material name="spacer_35mm"/>
    </visual>
  </link>

<joint name="chasis_spacer_chasis_2_03" type="fixed">
  <origin rpy="0 0 0" xyz="-0 -0.06375 0.01825" />
  <parent link="chassis1" />
  <child link="spacer_chasis_2_03" />
</joint>

  <link name="spacer_chasis_2_04">
  <inertial>
    <mass value="0.009"/>
    <origin xyz="0 0 0" rpy="0 0 0"/> <!-- Center of mass assumed at the origin -->
    <inertia ixx="1.5749999999999997e-06" ixy="0" ixz="0"
             iyy="1.5749999999999997e-06" iyz="0"
             izz="1.125e-07"/>
  </inertial>

  <!-- Collision Block -->
  <collision>
    <geometry>
      <cylinder radius="0.005" length="0.045"/> <!-- Radius and Height (length) of the cylinder -->
    </geometry>
    <origin xyz="0 0 0" rpy="0 0 0"/> <!-- Assuming the collision cylinder is aligned with the link's frame -->
  </collision>  
    <visual>
      <geometry>
        <cylinder radius="0.005" length="0.045"/>
      </geometry>
      <material name="spacer_35mm"/>
    </visual>
  </link>

<joint name="chasis_spacer_chasis_2_04" type="fixed">
  <origin rpy="0 0 0" xyz="0 0.06375 0.01825" />
  <parent link="chassis1" />
  <child link="spacer_chasis_2_04" />
</joint>

<link name="control_board">
  <inertial>
  <origin xyz="0 0 0" />
  <mass value="0.060" />
  <inertia 
      ixx="2.9405e-05" ixy="0.0" ixz="0.0"
      iyy="5.6405e-05" iyz="0.0" 
      izz="8.325e-05" />
</inertial>

<collision>
  <origin xyz="0 0 0" />
  <geometry>
    <box size="0.105 0.075 0.016" />
  </geometry>
</collision>


    <visual>
    <geometry>
        <box size="0.105 0.075 0.016" />
    </geometry>
      <material name="box_bot_blue"/>
    </visual>
  </link>

  <joint name="control_board_to_chasis_1" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.0225" />
    <parent link="chassis1" />
    <child link="control_board" />
  </joint>

  <link name="pcb_mount_01">
  <inertial>
  <origin xyz="0 0 0" />
  <mass value="0.005" />
  <inertia 
      ixx="8.333333333333334e-08" ixy="0.0" ixz="0.0"
      iyy="6.376468333333333e-07" iyz="0.0" 
      izz="6.376468333333333e-07" />
</inertial>

<collision>
  <origin xyz="0 0 0" />
  <geometry>
    <box size="0.03782 0.010 0.010" />
  </geometry>
</collision>

    <visual>
    <geometry>
        <box size="0.03782 0.010 0.010" />
    </geometry>
      <material name="spacer_35mm"/>
    </visual>
  </link>

  <joint name="pcb_01_to_controlboard" type="fixed">
    <origin rpy="0 0 0" xyz="0.0321 0.0325 0.0095" />
    <parent link="chassis1" />
    <child link="pcb_mount_01" />
  </joint>

  <link name="pcb_mount_02">
  <inertial>
  <origin xyz="0 0 0" />
  <mass value="0.005" />
  <inertia 
      ixx="8.333333333333334e-08" ixy="0.0" ixz="0.0"
      iyy="6.376468333333333e-07" iyz="0.0" 
      izz="6.376468333333333e-07" />
</inertial>

<collision>
  <origin xyz="0 0 0" />
  <geometry>
    <box size="0.03782 0.010 0.010" />
  </geometry>
</collision>

    <visual>
    <geometry>
        <box size="0.03782 0.010 0.010" />
    </geometry>
      <material name="spacer_35mm"/>
    </visual>
  </link>

  <joint name="pcb_02_to_controlboard" type="fixed">
    <origin rpy="0 0 0" xyz="-0.0321 0.0325 0.0095" />
    <parent link="chassis1" />
    <child link="pcb_mount_02" />
  </joint>

  <link name="pcb_mount_03">
  <inertial>
  <origin xyz="0 0 0" />
  <mass value="0.005" />
  <inertia 
      ixx="8.333333333333334e-08" ixy="0.0" ixz="0.0"
      iyy="6.376468333333333e-07" iyz="0.0" 
      izz="6.376468333333333e-07" />
</inertial>

<collision>
  <origin xyz="0 0 0" />
  <geometry>
    <box size="0.03782 0.010 0.010" />
  </geometry>
</collision>

    <visual>
    <geometry>
        <box size="0.03782 0.010 0.010" />
    </geometry>
      <material name="spacer_35mm"/>
    </visual>
  </link>

  <joint name="pcb_03_to_controlboard" type="fixed">
    <origin rpy="0 0 0" xyz="0.0321 -0.0325 0.0095" />
    <parent link="chassis1" />
    <child link="pcb_mount_03" />
  </joint>

  <link name="pcb_mount_04">
  <inertial>
  <origin xyz="0 0 0" />
  <mass value="0.005" />
  <inertia 
      ixx="8.333333333333334e-08" ixy="0.0" ixz="0.0"
      iyy="6.376468333333333e-07" iyz="0.0" 
      izz="6.376468333333333e-07" />
</inertial>

<collision>
  <origin xyz="0 0 0" />
  <geometry>
    <box size="0.03782 0.010 0.010" />
  </geometry>
</collision>

    <visual>
    <geometry>
        <box size="0.03782 0.010 0.010" />
    </geometry>
      <material name="spacer_35mm"/>
    </visual>
  </link>

  <joint name="pcb_04_to_controlboard" type="fixed">
    <origin rpy="0 0 0" xyz="-0.0321 -0.0325 0.0095" />
    <parent link="chassis1" />
    <child link="pcb_mount_04" />
  </joint>


</robot>